# Código Python

In [1]:
import pandas as pd
import numpy as np

## Lendo o DataFrame

In [2]:
df = pd.read_csv("titanic/titanic_train.csv")

## Mostrando informações

In [3]:
print(df.head())
print(df.info())

   Unnamed: 0  Unnamed: 0.1      class     age    sex survived
0         191           192  1st class  adults  women      yes
1         103           104  1st class  adults    man       no
2        1280          1281  3rd class   child    man       no
3          60            61  1st class  adults    man       no
4        1034          1035  3rd class  adults    man       no
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 987 entries, 0 to 986
Data columns (total 6 columns):
Unnamed: 0      987 non-null int64
Unnamed: 0.1    987 non-null int64
class           987 non-null object
age             987 non-null object
sex             987 non-null object
survived        987 non-null object
dtypes: int64(2), object(4)
memory usage: 46.3+ KB
None

## Separando X_train e y_train

In [4]:
X_train = df.iloc[:,1:5]
print("X_train")
print(X_train.head())

# Create dummy variables with drop_first=True: df_region
X_train = pd.get_dummies(X_train,drop_first=True)

# Print the new columns of df_region
print(X_train.columns)

print(X_train.head())

print("y_train")
y_train = df.iloc[:,-1]
y_train = pd.get_dummies(y_train,drop_first=True)
print(y_train.head())

X_train
   Unnamed: 0.1      class     age    sex
0           192  1st class  adults  women
1           104  1st class  adults    man
2          1281  3rd class   child    man
3            61  1st class  adults    man
4          1035  3rd class  adults    man
Index(['Unnamed: 0.1', 'class_2nd class', 'class_3rd class', 'age_child',
       'sex_women'],
      dtype='object')
   Unnamed: 0.1  class_2nd class  class_3rd class  age_child  sex_women
0           192                0                0          0          1
1           104                0                0          0          0
2          1281                0                1          1          0
3            61                0                0          0          0
4          1035                0                1          0          0
y_train
   yes
0    1
1    0
2    0
3    0
4    0

## Learning

In [7]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier 

clf = DecisionTreeClassifier(random_state=0,max_depth=7)

bc = BaggingClassifier(base_estimator=clf, n_estimators=45, random_state=42)

bc.fit(X_train,y_train.to_numpy().ravel())

BaggingClassifier(base_estimator=DecisionTreeClassifier(class_weight=None,
                                                        criterion='gini',
                                                        max_depth=7,
                                                        max_features=None,
                                                        max_leaf_nodes=None,
                                                        min_impurity_decrease=0.0,
                                                        min_impurity_split=None,
                                                        min_samples_leaf=1,
                                                        min_samples_split=2,
                                                        min_weight_fraction_leaf=0.0,
                                                        presort=False,
                                                        random_state=0,
                                                        splitter='best'),
                  bootstrap=True, bootstrap_features=False, max_features=1.0,
                  max_samples=1.0, n_estimators=45, n_jobs=None,
                  oob_score=False, random_state=42, verbose=0,
                  warm_start=False)

In [8]:
from sklearn.metrics import accuracy_score
predic = bc.predict(X_train)
print(accuracy_score(predic,y_train))

1.0

## Testing

In [9]:
df_test = pd.read_csv("titanic/titanic_test.csv")
X_test = df_test.iloc[:,1:5]
X_test = pd.get_dummies(X_test,drop_first=True)

print(X_train.columns)
print(X_test.columns)

X_test = bc.predict(X_test)

labels = []

for i in X_test:
    if(i == 0):
        labels.append("no")
    else:
        labels.append("yes")


print(labels)

df_test['survived'] = labels

print(df_test)

Index(['Unnamed: 0.1', 'class_2nd class', 'class_3rd class', 'age_child',
       'sex_women'],
      dtype='object')
Index(['Unnamed: 0.1', 'class_2nd class', 'class_3rd class', 'age_child',
       'sex_women'],
      dtype='object')
['yes', 'no', 'no', 'no', 'no', 'no', 'yes', 'yes', 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 'no', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'yes', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'no', 'yes', 'no', 'yes', 'yes', 'yes', 'no', 'yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'yes', 'no', 'no', 'no', 'yes', 'yes', 'no', 'yes', 'no', 'no', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'yes', 'yes', 'no', 'yes', 'no', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'yes', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'no', 'no', 'no', 'yes', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'yes', 'yes', 'yes', 'no', 'no', 'no', 'no', 'yes', 'yes', 'no', 'no', 'no', 'no', 'yes', 'yes', 'yes', 'no', 'no', 'yes', 'no', 'no', 'yes', 'no', 'yes', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes', 'no', 'yes', 'no', 'yes', 'no', 'yes', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes', 'yes', 'yes', 'no', 'yes', 'yes', 'yes', 'no', 'yes', 'no', 'no', 'yes', 'no', 'yes', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'yes', 'yes', 'yes', 'no', 'yes', 'no', 'no', 'yes', 'no', 'yes', 'no', 'yes', 'yes', 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'no', 'yes', 'yes', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'yes', 'yes', 'yes', 'no', 'yes', 'yes', 'no', 'no', 'no', 'yes', 'yes', 'yes', 'yes', 'no', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'yes', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'yes', 'yes', 'yes', 'yes', 'no', 'no', 'yes', 'yes', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'yes', 'no', 'yes', 'yes']
     Unnamed: 0  Unnamed: 0.1      class     age    sex survived
0           634           635  3rd class  adults    man      yes
1           959           960  3rd class  adults    man       no
2           364           365  2nd class  adults    man       no
3           948           949  3rd class  adults    man       no
4           142           143  1st class  adults    man       no
5          1058          1059  3rd class  adults    man       no
6            45            46  1st class  adults    man      yes
7          1130          1131  3rd class  adults  women      yes
8           478           479  2nd class  adults    man       no
9           590           591  2nd class   child    man      yes
10          553           554  2nd class  adults  women      yes
11           55            56  1st class  adults    man      yes
12          241           242  1st class  adults  women      yes
13         1145          1146  3rd class  adults  women      yes
14          996           997  3rd class  adults    man       no
15          108           109  1st class  adults    man       no
16         1093          1094  3rd class  adults  women      yes
17          442           443  2nd class  adults    man       no
18          440           441  2nd class  adults    man       no
19         1073          1074  3rd class  adults  women      yes
20          682           683  3rd class  adults    man      yes
21            5             6  1st class  adults    man      yes
22         1083          1084  3rd class  adults  women      yes
23          408           409  2nd class  adults    man       no
24          349           350  2nd class  adults    man       no
25         1243          1244  3rd class   child    man      yes
26          184           185  1st class  adults  women      yes
27          923           924  3rd class  adults    man       no
28          487           488  2nd class  adults    man       no
29         1023          1024  3rd class  adults    man       no
..          ...           ...        ...     ...    ...      ...
299         528           529  2nd class  adults  women      yes
300        1090          1091  3rd class  adults  women      yes
301         540           541  2nd class  adults  women      yes
302         320           321  1st class   child    man      yes
303         695           696  3rd class  adults    man       no
304         472           473  2nd class  adults    man       no
305         609           610  2nd class   child  women      yes
306        1125          1126  3rd class  adults  women      yes
307        1108          1109  3rd class  adults  women      yes
308         436           437  2nd class  adults    man       no
309        1259          1260  3rd class   child    man       no
310         986           987  3rd class  adults    man       no
311         731           732  3rd class  adults    man       no
312         317           318  1st class  adults  women       no
313        1164          1165  3rd class  adults  women       no
314        1264          1265  3rd class   child    man       no
315        1174          1175  3rd class  adults  women       no
316         319           320  1st class   child    man      yes
317        1305          1306  3rd class   child  women       no
318         692           693  3rd class  adults    man       no
319         567           568  2nd class  adults  women      yes
320         998           999  3rd class  adults    man       no
321         131           132  1st class  adults    man       no
322          15            16  1st class  adults    man      yes
323        1121          1122  3rd class  adults  women      yes
324         452           453  2nd class  adults    man       no
325         610           611  3rd class  adults    man      yes
326         579           580  2nd class  adults  women       no
327        1098          1099  3rd class  adults  women      yes
328         187           188  1st class  adults  women      yes

[329 rows x 6 columns]

In [24]:
output = df_test[['Unnamed: 0','survived']]
output['id'] = output['Unnamed: 0']
output = output[['id','survived']]
print(output.head())

output.to_csv("saida_42.csv",index=False)

    id survived
0  634      yes
1  959       no
2  364       no
3  948       no
4  142       no

/home/daniel/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [11]:
output.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 329 entries, 0 to 328
Data columns (total 2 columns):
id          329 non-null int64
survived    329 non-null object
dtypes: int64(1), object(1)
memory usage: 5.2+ KB